@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <label>Search location</label>
    <input type="text" id="txtLocation" name="txtLocation" onclick="getlocation()"><br>


    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your location with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        <input type="text" class="form-control" id="idAddress" placeholder="Password">
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" onclick="loadDoc()">Submit</button>



</div>

<div>
    @*<input type="text" ID="txtLocation" Width="200px" />*@




    
    <script type="text/javascript">

        AddScript('AIzaSyAOaWuSw6Y1KUo6XXGKfwcLah5awnn4tNU');

        function AddScript(key) {
           var script = document.createElement('script');
            script.src = "https://maps.googleapis.com/maps/api/js?libraries=places&key=" + key;
            script.type = 'text/javascript';
            document.getElementsByTagName('head')[0].appendChild(script);
            getlocation();
        }
        

        function getlocation() {
            debugger;
            var places = new google.maps.places.Autocomplete(document.getElementById('txtLocation'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                $("#exampleInputEmail1").val(latitude);
                $("#exampleInputPassword1").val(longitude);
                $("#idAddress").val(address);
                var mesg = "Address: " + address;
                mesg += "\nLatitude: " + latitude;
                mesg += "\nLongitude: " + longitude;
                alert(mesg);
            });
        }

        //function loadDoc()
        //{
        //    var xhttp = new XMLHttpRequest();
        //    xhttp.onreadystatechange = function () {
        //        if (this.readyState == 4 && this.status == 200) {
        //            document.getElementById("demo").innerHTML = this.responseText;
        //        }
        //    };
        //    xhttp.open("GET", "ajax_info.txt", true);
        //    xhttp.send();
        //}

    </script>
</div>
